[submodule "icenet-dashboard-preprocessor"]
	path = icenet-dashboard-preprocessor
	url = git@github.com:icenet-ai/icenet-dashboard-preprocessor.git
[submodule "icenet-tiler-api"]
	path = icenet-tiler-api
	url = git@github.com:icenet-ai/icenet-tiler-api.git
[submodule "icenet-dashboard"]
	path = icenet-dashboard
	url = git@github.com:icenet-ai/icenet-dashboard.git
